*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(10, 28, 68, 1);
}

.pig-main{
    position: relative;
    width: 200px;
    height: 500px;
    left: 25%;
    top: 100px;
}
.pig-head-main{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffc0cb;
    border: 8px solid rgba(10, 28, 68, 1);
    position: relative;
}
.eyes{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    border: 1px solid black;
    top: 40px;

}
.e1{
    left: 30px;
}
.e2{
    right: 30px;
}
.eyes .eye-pupil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 3;
    top: 19%;

}
.ep1{
    left: 19%;
}
.ep2{
    right: 19%;
}
.pig-nous{
    width: 100px;
    height: 60px;
    border-radius: 35%;
    background-color: #f571b7;
    border: 1px solid black;
    position: absolute;
    bottom: 10%;
    left: 22%;
}
.pig-nous .nous-tube{
    width: 25px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 21%;
}
.nt1{
    left:12%;

}
.nt2{
    right: 12%;
}

.ears{
    width: 60px;
    height: 60px;
    background-color: #ffc0cb;;
    border-radius: 50%;
    position: absolute;
}
.er1{

    left: 3%;
}
.er2{
    right: 3%;
}